@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
       
        <input type="file" onchange="previewFile()"><br>
        <img src="" height="200" alt="Image preview...">
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var image = {};

        var stirngbef = null;
        var stirngaft = null;
        var json = null;
        $(function () {


            $("#imageName").on('change', function () {

                alert($(this).val())  })     
                     
        })

        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {

                $.when(reader.readAsDataURL(file)).then(() => {

                    console.log("arry", Array.from(reader.result));
                    stirngbef = Array.from(reader.result).length;
                    image.Id = 0;
                    image.image = Array.from(reader.result);
                }).then(() => {

                    json  = JSON.stringify(image);
                    console.log("json", json);

                    }).then(() => {
                        var c = JSON.parse(json)
                        var arry = c.image;
                        stirngaft = arry.length;            

                    }).then(() => {

                        if (stirngbef === stirngaft) {
                            console.log("done")
                        }
                    })
                       
              
            }

        }



    </script>}